@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
.main-heading {
    font-family: Outfit;
    font-size: 48px;
    font-weight: 600;
    line-height: 116%;
    text-align: center;
    color: #111111;
    max-width: 565px;
    margin: auto;

}

.sub-heading {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #707070;
    padding-bottom: 37px;
}

.text {
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 116%;
    text-align: left;
    color: black;
}

.hours {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 118%;
    text-align: center;
    color: #14A800;
}

.pera {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    color: #707070;
    max-width: 263.53px;
    margin: left;
    padding-bottom: 15px;

}
.ml-12{
    margin-left: 12px;

}

.btn {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 60%;
    text-align: left;
    color: black;
}

.ml-8 {
    margin-left: 8px;
}
.mb-50{
    margin-bottom: 50px;
}
.mb-sm-20{
    margin-bottom: 20px;
}
.px-20{
    padding-left: 20px;
    padding-right: 20px;
}
@media(max-width:768px){
    .main-heading{
        font-size: 34px;
    }
}